<app-modulo-spiner-login *ngIf="operacionRespuesta.EstaEjecutando"></app-modulo-spiner-login>
<div class="container">
  <h3>Administración Componentes Emisora</h3>

  <div class="tabla-catalogos col-md-12">
    <div class="container p-5">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm active pull-right" title="Agregar Nuevo Componente" type="button"
            (click)="open()">
            Nuevo Componente
          </button>
        </div>
        <div class="col-md-12">
          <h3>Lista Componentes</h3>
          <hr class="red" />
          <div class="table-responsive">
            <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th scope="col">Frecuencia / Canal</th>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Televisora / RadioDifusora</th>
                  <th scope="col">Lugar transmisión</th>
                  <th scope="col">Es televisora</th>
                  <th scope="col">Estatus</th>
                  <th scope="col" width="15%">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let catalogo of listcatalogo; let i = index">
                  <th scope="row">{{ catalogo.frecuencia_canal }}</th>
                  <th scope="row">{{ catalogo.proveedor }}</th>
                  <th scope="row">{{ catalogo.televisora_radiodifusora }}</th>
                  <th scope="row">{{ catalogo.lb_lugar_transmision }}</th>
                  <th scope="row">{{ catalogo.televisora ? "Si" : "No"}}</th>
                  <td> {{catalogo.activo ? 'Activo':'Inactivo'}}</td>
                  <td>
                    <div class="row">
                      <div class="col-auto">
                        <button class="btn btn-secondary btn-sm" title="Editar catalogo" type="button"
                          (click)="openEdicion(catalogo)">
                          <!--Editar-->
                          <i class="ti-pencil"></i>
                        </button>

                        <button class="btn btn-secondary btn-sm" title="Desactivar/Activar" type="button"
                          (click)="OnChange(catalogo.activo,catalogo.id)">

                          <i *ngIf="!catalogo.activo" class="toggleactivar"></i>
                          <i *ngIf="catalogo.activo" class="togglesuspender"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>