<app-modulo-spiner-login
  *ngIf="operacionRespuesta.EstaEjecutando"
></app-modulo-spiner-login>
<div class="container">
  <h3>Asignación de Solicitudes de Registro</h3>
  <div class="tabla-registros col-md-12">
    <div class="container p-5">
      <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
          <h3>Solicitudes de Registros</h3>
          <hr class="red" />
          <div class="table-responsive">
            <table
              class="table table-sm table-hover"
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger">
              <thead>
                <tr class="text-center">
                  <th scope="col">Folio</th>
                  <th scope="col">Denominación</th>
                  <th scope="col">Tipo solicitud</th>
                  <th scope="col">Fecha de registro</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Dictaminador de registro</th>
                  <th scope="col">Asignar</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody  class="text-center" *ngIf="listRegistros?.length != 0">
                  <tr *ngFor="let registro of listRegistros; let i = index" class="text-center tr-especialPadding">
                    <td>{{ registro.reg_numero_registro }}</td>
                    <td style="word-break: break-all">{{registro.reg_cat_denominacion}}</td>
                    <td>{{ registro.reg_cat_solicitud_escrito }}</td>
                    <td>{{ registro.reg_fecha | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ registro.reg_estatus }}</td>
                    <td>{{ registro.correo_dic }}</td>
                    <td class="text-left">
                          <select
                            class="form-control"
                            (change)="onChange($event.target.value,registro.reg_id)"
                          >
                            <option value="" selected>
                              Seleccione una opci&oacute;n...
                            </option>
                            <option
                              *ngFor="let tipo of listDicataminador"
                              value="{{ tipo.id_usuario }}"
                            >
                              {{ tipo.usuario }}
                            </option>
                          </select>
                    </td>
                    <td>
                      <button class="bootstrap-icons espacio-derecho-tabla icono-grande"
                              title="Ver Detalle"
                              type="button"
                              (click)="verDetalle(registro)">
                        <i class="ti-search"></i>
                      </button>
                    </td>
                  </tr>
              </tbody>
              <tbody *ngIf="listRegistros?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">
                    No se encontraron resultados
                  </td>
                </tr>
              </tbody>
            </table>
            <button
              (click)="OnSubmit()"
              [disabled]="this.dictaminadores?.length === 0"
              class="btn btn-primary"
            >
              Asignar Registro
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
