a.linkdetalle {
  color: #000000 !important;
  text-decoration: none;
}

  a.linkdetalle:hover {
    color: #0366d6!important;
    text-decoration:underline;
  }

.list-catalogos {
  padding: 2rem 0;
  max-width: 70%;
}

input .form-control {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.control-label {
  text-align: left;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 5 px 10 px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3 px;
  padding-top: 1rem !important;
  margin-left: 1rem !important;
}

/* Progress Bar */
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

  .progress .determinate {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #26a69a;
    transition: width .3s linear;
  }

  .progress .indeterminate {
    background-color: #26a69a;
  }

    .progress .indeterminate:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    .progress .indeterminate:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
      animation-delay: 1.15s;
    }

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.tr-especial {
  th

{
  border-bottom: 3px solid #08a8b6 !important;
}

td {
  border-top: 1px solid #08a8b6 !important;
}

}

.tr-especialPadding {
  td

{
  padding: 0px;
}

}

.material-icons {
  padding-top: 5px;
}

label {
  color: black;
}
