<div class="container">
  <div class="col-md-12 breadcrumb">
    <p>Trámites > <strong>Otorgamiento de Registro Constitutivo como Asociación Religiosa</strong></p>
  </div>
  <h3>Otorgamiento de Registro Constitutivo como Asociación religiosa</h3>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>
          Quejas y sugerencias de servicios.
          <p>
            En el espacio de Contacto Ciudadano esta disponible un buz&oacute;n
            y papeletas para expresar con toda libertad su inconformidad o
            comentario. V&iacute;a telef&oacute;nica: 01 (55) 5128-0000 ext.
            36902. V&iacute;a internet al correo electrónico:<a href="mailto:dgar@segob.gob.mx">dgar@segob.gob.mx</a>.
          </p>
        </li>
        <li><a (click)="downloadPdf(1)">Descargue e imprima esta informaci&oacute;n</a></li>
        <li>
          Descargue el <a (click)="downloadPdf(2)">escrito libre</a> escrito libre ejemplo para realizar
          su solicitud.
        </li>
      </ul>
    </div>
    <div class="col-md-6 link">
      <a (click)="irA('alta-solicitud-registro', 0)">
        Solicitud de registro
      </a>
    </div>

    <div class="col-md-6 link">
      <a [routerLink]="['/registros-tramite/']">
        Consultar registros
      </a>
    </div>

  </div>
</div>