<!--<app-modulo-spiner-login *ngIf="operacionRespuesta.EstaEjecutando"></app-modulo-spiner-login>-->
<div class="container">
  <h3>Solicitud de toma de nota</h3>
  <div class="tabla-Representantes col-md-12">
    <h4>
      Relación de Representantes Legales / Asociados / Ministros de Culto / Órgano de Gobierno
    </h4>
  </div>

  <form role="form" [formGroup]="formGroup" (submit)="OnSubmit()">
    <div class="row">

      <div class="form-group col-md-5">

        <div class="form-group col-md-12">
          <label class="control-label requerido" for="s_numero_sgar">Tipo de movimiento:</label>
          <input class="form-control"
                 type="text"
                 
                 name="s_numero_sgar"
                 required />
          <!--<div *ngIf="
            formGroup.invalid && formGroup.get('s_numero_sgar').touched
          ">
          {{ obtenerErroresNumeroRegistro() }}
        </div>-->
        </div>
        <div class="form-group col-md-12">
          <label class="control-label" for="s_numero_sgar">Nombre completo:</label>
          <input class="form-control"
                 type="text"
                 
                 name="s_numero_sgar"
                 required />
          <!--<div *ngIf="
            formGroup.invalid && formGroup.get('s_numero_sgar').touched
          ">
          {{ obtenerErroresNumeroRegistro() }}
        </div>-->
        </div>
        <div class="form-group col-md-12">
          <label class="control-label" for="s_numero_sgar">Facultades del representante legal:</label>
          <input class="form-control"
                 type="text"
                 
                 name="s_numero_sgar"
                 required />
          <!--<div *ngIf="
            formGroup.invalid && formGroup.get('s_numero_sgar').touched
          ">
          {{ obtenerErroresNumeroRegistro() }}
        </div>-->
        </div>

      </div>

      <div class="form-group col-md-7">
        <div class="form-group col-md-4">
          <label class="control-label requerido labelencabezado" for="s_cat__escrito_solicitud_tn">Identificación (INE):</label>
          <div class="col-md-12">
            <!-- <app-modulo-carga-archivo [id]="id_tramite"
                                      [id_archivo_tramite]="0"
                                      [archivo_registrado]="escrito_solicitud_toma_nota"
                                      (is_loading)="setIsLoadingArchivo($event)"></app-modulo-carga-archivo> -->
          </div>
        </div>

        <div class="form-group col-md-4">
          <label class="control-label requerido labelencabezado" for="s_cat__escrito_solicitud_tn">Acta de Nacimiento:</label>
          <div class="col-md-12">
            <!-- <app-modulo-carga-archivo [id]="id_tramite"
                                      [id_archivo_tramite]="0"
                                      [archivo_registrado]="escrito_solicitud_toma_nota"
                                      (is_loading)="setIsLoadingArchivo($event)"></app-modulo-carga-archivo> -->
          </div>
        </div>

        <div class="form-group col-md-4">
          <label class="control-label requerido labelencabezado" for="s_cat__escrito_solicitud_tn">CURP:</label>
          <div class="col-md-12">
            <!-- <app-modulo-carga-archivo [id]="id_tramite"
                                      [id_archivo_tramite]="0"
                                      [archivo_registrado]="escrito_solicitud_toma_nota"
                                      (is_loading)="setIsLoadingArchivo($event)"></app-modulo-carga-archivo> -->
          </div>
        </div>

      </div>

    </div>
    <div class="row">
        <div class="form-group col-md-8">
          <label class="control-label requerido" for="s_cat_solicitud_escrito">Indique cómo desea que se lleve a cabo la entrega  de la  documentación digital contra original:</label>
          <select class="form-control"
                  
                  name="s_cat_solicitud_escrito"
                  required>
            <option value="" selected>Seleccione una opci&oacute;n...</option>
            <option *ngFor="let tipo of listaModalidad" value="{{ tipo.c_id }}">
              {{ tipo.c_nombre_n }}
            </option>
          </select>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary">
          Guardar
        </button>
        <button (click)="OnSubmit()"
                class="btn btn-primary">
          Finalizar
        </button>
        <button type="button" class="btn btn-secondary">
          Salir
        </button>
      </div>
    </div>
  </form>
</div>
