<app-modulo-spiner-login *ngIf="operacionRespuesta.EstaEjecutando"></app-modulo-spiner-login>
<div class="container">
  <!-- <div class="col-md-12 breadcrumb" *ngIf="!isDictaminador">
    <p>Otorgamiento de Registro Constitutivo como Asociación Religiosa > <strong>Solicitud de Registro</strong></p>
  </div>
  <div class="col-md-12 breadcrumb" *ngIf="isDictaminador">
    <p><strong>Atención de solicitudes de registro</strong></p>
    <p>Dictaminación > <strong>Revisión de información del registro</strong></p>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9 text-right pull-right">
      <app-modulo-paginacion [routes]="routes" [tramiteId]="id_tramite"></app-modulo-paginacion>
    </div>
  </div> -->
  <div class="tabla-Representantes col-md-12">
    <h4>
      Relación de Representantes Legales / Asociados / Ministros de Culto / Órgano de Gobierno
    </h4>
    <div class="container p-5">
      <div class="row">
        <div class="col-md-12">
          <button *ngIf="!isDictaminador" class="btn btn-primary btn-sm active pull-right"
            title="Agregar Nuevo Integrante" type="button" (click)="openEdicion(null)" [disabled]="bloqueo">
            Nuevo Integrante
          </button>
        </div>
        <div class="col-md-12">
          <h3>Agregar Representantes</h3>
          <hr class="red" />
          <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Roles</th>
                <th scope="col">Órgano Gobierno</th>
                <th scope="col">INE / Pasaporte</th>
                <th scope="col">Acta de Nac. / Doc. Migratorio</th>
                <th scope="col">CURP</th>

                <th scope="col" *ngIf="!isDictaminador">Acción</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let Representante of listrepresentante; let i = index">
                <th class="">{{ Representante.p_nombre_completo }}</th>
                <th class="roles">{{ getRoles(Representante)
                  }}</th>
                <th class="">
                  <div *ngIf="Representante.p_cargo">{{ Representante.p_cargo }} - Cargo: {{ Representante.c_organo_g }}
                  </div>
                  <div *ngIf="!Representante.p_cargo">-</div>
                </th>
                <td>
                  <app-modulo-carga-archivo [id]="Representante.r_id" [id_archivo_tramite]="7"
                    [archivo_registrado]="Representante.p_ine_exists" (is_sent_arch)="setSentArch($event)"
                    (is_loading)="setIsLoadingArchivo($event)" [indice]="i"
                    [isDictaminador]="isDictaminador"></app-modulo-carga-archivo>
                </td>
                <td>
                  <div class="col-md-12">
                    <app-modulo-carga-archivo [id]="Representante.r_id" [id_archivo_tramite]="8"
                      [archivo_registrado]="Representante.p_acta_exists" (is_loading)="setIsLoadingArchivo($event)"
                      (is_sent_arch)="setSentArch($event)" [indice]="i"
                      [isDictaminador]="isDictaminador"></app-modulo-carga-archivo>
                  </div>
                </td>
                <td>
                  <div class="col-md-12">
                    <app-modulo-carga-archivo [id]="Representante.r_id" [id_archivo_tramite]="9"
                      [archivo_registrado]="Representante.p_curp_exists" (is_sent_arch)="setSentArch($event)"
                      (is_loading)="setIsLoadingArchivo($event)" [indice]="i"
                      [isDictaminador]="isDictaminador"></app-modulo-carga-archivo>
                  </div>
                </td>
                <td *ngIf="!isDictaminador">
                  <button class="btn btn-secondary btn-sm" title="Editar Representante" type="button"
                    (click)="openEdicion(Representante)" [disabled]="bloqueo">
                    <i class="ti-pencil"></i>
                  </button>

                  <button class="btn btn-secondary btn-sm" title="Eliminar Representante" type="button"
                    (click)="OnChange(Representante.p_id)" [disabled]="bloqueo">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span [hidden]="isDictaminador == true || bloqueo == true || bloqueo == 1">
        <button (click)="OnSubmit()" class="btn btn-primary btn-footer" [disabled]="bloqueo || isDictaminador">
          Guardar
        </button>
      </span>

      <button (click)="exitPublic()" type="button" class="btn btn-secondary btn-footer">
        Salir
      </button>
    </div>
  </div>
</div>
