<app-modulo-spiner-login
  *ngIf="operacionRespuesta.EstaEjecutando"
></app-modulo-spiner-login>
<div class="container p-5">
  <div class="row">
    <h3>Consultar Registros</h3>
    <div class="col-md-12">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <h3>Solicitudes de Registros</h3>
            <hr class="red" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="formFiltros" (ngSubmit)="ConsultaDatos()">
            <div class="col-lg-5">
              <div class="row col form-group">
                <label class="col-sm-4 control-label centar-vertial"
                  >Denominación:</label
                >
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="denominacion"
                    name="denominacion"
                    placeholder="Nombre de la denominación"
                  />
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="row col form-group">
                <label class="col-sm-3 control-label centar-vertial"
                  >Folio:</label
                >
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="folio"
                    name="folio"
                    placeholder="Folio"
                  />
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="row col-sm-12 form-group">
                <label class="col-sm-3 control-label centar-vertial">
                  Estatus:
                </label>
                <div class="col-sm-9">
                  <select
                    class="form-control"
                    formControlName="estatus"
                    name="estatus"
                  >
                    <option value="0" selected>Seleccione..</option>
                    <option
                      *ngFor="let estatus of selectCatEstatus"
                      [ngValue]="estatus.idEstado"
                    >
                      {{ estatus.nombre }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="text-right">
                <button
                  type="button"
                  (click)="openlimpiarReporte()"
                  class="btn btn-primary btn-sm espacio-derecho"
                  title="Limpiar reporte"
                >
                  <i class="ti-file"></i>
                </button>

                <button class="btn btn-primary btn-sm espacio-derecho">
                  Buscar
                </button>

                <button
                  class="btn btn-primary btn-sm active espacio-derecho-margen"
                  title="Agregar Nuevo Registro"
                  type="button"
                  (click)="irA('alta-solicitud-registro', 0)"
                >
                  Nueva Solicitud
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table
                class="table"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
              >
                <thead>
                  <tr class="text-center">
                    <th scope="col">Folio</th>
                    <th scope="col">Denominación</th>
                    <th scope="col">Tipo de Solicitud</th>
                    <th scope="col">Fecha Reg.</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Fecha autorizacion</th>
                    <th scope="col" class="tamanio-col">Acciones</th>
                    <th scope="col">Comentarios</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let reporte of listRegistros"
                    class="tr-especialPadding"
                  >
                    <td>
                      {{ reporte.folio }}
                    </td>
                    <td>
                      {{ reporte.denominacion }}
                    </td>
                    <td>
                      {{ reporte.sol_registro }}
                    </td>
                    <td>
                      {{ reporte.fecha_registro | date : "dd/MM/yyyy" }}
                    </td>
                    <td>
                      {{ reporte.estatus }}
                    </td>
                    <td class="text-center">
                      {{ reporte.fecha_autorizacion | date : "dd/MM/yyyy" }}
                    </td>
                    <td>
                      <div class="row text-center">
                        <div class="col-md-12 tamanio-col">
                          <button
                            class="bootstrap-icons espacio-derecho-tabla icono-grande"
                            title="Ver Detalle"
                            type="button"
                            (click)="mandarVerDetalle(reporte)"
                          >
                            <i class="ti-search"></i>
                          </button>

                          <button
                            class="bootstrap-icons espacio-derecho-tabla icono-grande"
                            [ngClass]="{
                              'icono-grande':
                                reporte.id_estatus <= 8 ||
                                reporte.id_estatus === 15 ||
                                reporte.id_estatus === 17
                            }"
                            [disabled]="
                              !(
                                reporte.id_estatus <= 8 ||
                                reporte.id_estatus === 15 ||
                                reporte.id_estatus === 17
                              )
                            "
                            title="Modificar"
                            type="button"
                            (click)="mandarModificacion(reporte)"
                          >
                            <i class="ti-pencil"></i>
                          </button>

                          <button
                            class="bootstrap-icons icono-grande"
                            [ngClass]="{
                              'icono-grande': reporte.id_estatus <= 8
                            }"
                            [disabled]="!(reporte.id_estatus <= 8)"
                            title="Eliminar"
                            type="button"
                            (click)="openConfirmacion(reporte.id_registro)"
                          >
                            <i class="ti-trash"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row text-center">
                        <div class="col-xg-12">
                          <button
                            class="bootstrap-icons espacio-derecho icono-grande"
                            [ngClass]="{
                              'icono-grande':
                                reporte.id_estatus >= 14 &&
                                reporte.id_estatus <= 20
                            }"
                            [disabled]="
                              !(
                                reporte.id_estatus >= 14 &&
                                reporte.id_estatus <= 20
                              )
                            "
                            title="Notificaciones"
                            type="button"
                            (click)="mandarNotificaciones(reporte.id_registro)"
                          >
                            <i class="ti-file"></i>
                          </button>

                          <span
                            class="circulo-Base Notificacion--rojo espacio-derecho"
                            *ngIf="
                              reporte.id_estatus >= 14 &&
                              reporte.id_estatus <= 20
                            "
                          ></span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #contentReporte let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Mensaje</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group alert alert-warning">
          <p>¿Desea limpiar los filtros?</p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-danger" (click)="limpiarReporte()">
        Aceptar
      </button>

      <button
        type="button"
        class="btn btn-sm btn-default"
        (click)="modal.dismiss('cancel click')"
      >
        Cancelar
      </button>
    </div>
  </ng-template>

  <ng-template #confirmarEliminar let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Eliminar solicitud</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group alert alert-danger">
          <p>¿Está seguro que desea eliminar la solicitud?</p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-sm btn-danger"
        (click)="eliminarTramite(id_tramite_global)"
      >
        Aceptar
      </button>

      <button
        type="button"
        class="btn btn-sm btn-default"
        (click)="modal.dismiss('cancel click')"
      >
        Cancelar
      </button>
    </div>
  </ng-template>

  <ng-template #modalExito let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Solicitud Eliminada</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group alert alert-success">
          <p>
            <strong>¡Éxito!</strong> La solicitud se ha eliminado de forma
            correcta.
          </p>
        </div>
      </form>
    </div>

    <div class="text-center">
      <button
        type="button"
        class="btn-sm text-center"
        (click)="modal.dismiss('cancel click')"
      >
        Aceptar
      </button>
    </div>
  </ng-template>
</div>
