<div class="container">
    <div class="col-md-12 breadcrumb">
        <p><strong>Trámites</strong></p>
    </div>
    <div class="row">
        <div class="col-md-12 mb-10">
            <a [routerLink]="['/tramites']">
                <div class="col-md-3">
                    <div class="card"><img class="card-img-gob" src="/assets/img/tramiteRegistro.png" /></div>
                    <p class="mt-5">Otorgamiento de Registro Constitutivo como Asociación religiosa</p>
                </div>
            </a>
            <a [routerLink]="['/tomanota']">
            <div class="col-md-3">
                <div class="card"><img class="card-img-gob" src="/assets/img/tomaNota.png" /></div>
                <p class="mt-5">Toma de nota de modificaciones al interior de las asociaciones religiosas</p>
            </div>
            </a>
            <a [routerLink]="['/transmisiones']">
                <div class="col-md-3">
                    <div class="card"><img class="card-img-gob" src="/assets/img/transmisiones.png" /></div>
                    <p class="mt-5">Transmisiones</p>
                </div>
            </a>

            <a [routerLink]="['/declaratoria-procedencia']">
                <div class="col-md-3">
                    <div class="card"><img class="card-img-gob" src="/assets/img/transmisiones.png" /></div>
                    <p class="mt-5">Declaratoria de Procedencia</p>
                </div>
            </a>

            
        </div>

    </div>
</div>